body {
    background-color: #0f172a; /* Azul oscuro tipo VS Code */
    color: white;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.link-card {
    display: block;
    background: #1e293b;
    margin: 15px 0;
    padding: 15px;
    text-decoration: none;
    color: #f8eb38; /* Azul cyan reactivo */
    border: 1px solid #334155;
    border-radius: 8px;
    transition: transform 0.2s, background 0.2s;
}

.link-card:hover {
    transform: scale(1.05);
    background: #334155;
}
#contact {
    margin-top: 20px;
    font-size: 0.9em;
    color: #c93eec; /* Gris claro para el contacto */
}

.profile-img {
    width: 150px;      /* Ancho de la caja */
    height: 150px;     /* Alto de la caja */
    border-radius: 10%; /* 50% hace que la caja sea circular */
    object-fit: cover; /* Evita que la foto se estire o se deforme */
    border: 3px solid #65f838; /* Un borde bonito */
    padding: 5px;      /* Espacio entre la foto y el borde */
}

.profile-img:hover {
    border-color: #8fe275; /* Cambia el color del borde al pasar el mouse */
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al pasar el mouse */
    transition: transform 0.2s, border-color 0.2s; /* Suaviza la transición */
    content: url('pp-discord2.png');
}


.description {
    font-family: Arial, sans-serif;
    font-style: italic;
    color: #8fe275; /* Azul cyan reactivo */
}

#posdata{
    margin-top: 20px;
    font-size: 0.8em;
    color: #8baa82; /* Gris claro para la posdata */
}